<p class="comment">
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p class="comment">
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<button class="hide-button">Hide Comments</button> <button class="show-button">Show Comments</button> 
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>